/build
/../build/
/.gradle
/.idea
/TrainingTask.iml
/com.qulix.yurkevichvv.trainingtask.database/mydb.tmp/
/com.qulix.yurkevichvv.trainingtask.database/mydb.lck
/com.qulix.yurkevichvv.trainingtask.database/mydb.log
/com.qulix.yurkevichvv.trainingtask.database/mydb.properties
/com.qulix.yurkevichvv.trainingtask.database/mydb.script
