html, body {
    white-space: normal;
    font-size: 14px;
    margin-left: 0;
    margin-right: 15px;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, Gabriola;
    color: #333333FF
}

table {
    border-collapse: collapse;
    border-top: 1px solid #0A0A0AFF;
    font-size: 14px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    width: 100%;
}

th {
    width: 290px;
    color: #0A0A0AFF;
    text-align: left;
}

tr {
    line-height: 32px;
    padding: 8px;
    font-size: 14px;
    border-top: 1px solid #FFFFFF;
}

tr:nth-child(even) {
    background: #FFFFFF
}

tr:nth-child(odd) {
    background: #DDDDDD50
}

.add-button {
    border: 1px solid #666666FF;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    width: 140px;
    padding: 5px 10px;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

select {
    width: 208px;
}
input {
    width: 200px;
}

.feedback {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    display: inline-block;
    color: #DC143CFF;
}

body {
    margin-top: 60px;
}

.nav-panel {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    border: 1px solid #6E6D6DFF;
}

li {
    float: left;
}

li a {
    display: block;
    color: #0A0A0AFF;
    text-align: center;
    padding: 18px 50px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #E37676E5;
}

.start-page {
    font-size: 45px;
    text-align: center;
}

.field {
    clear:both;
    text-align:right;
    line-height:25px;
}

label {
    font-size: 14px;
    float:left;
}

.main {
    float:left
}

.header {
    clear:both;
    text-align:center;
}

.chief {
    padding-left: 30px;
}