body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(66, 196, 208, 0.37);
    position: fixed;
    top: 0;
    width: 100%;
}

li {

    float: left;
}

li a {
    display: block;
    color: rgba(1, 99, 245, 0.81);
    text-align: center;
    padding: 18px 50px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #424ed0;
}

.active {
    background-color: #4fb446;
}


