body{margin: 0}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(196, 196, 196, 0.37);
    position: fixed;
    top: 0;
    width: 100%;
}

li {

    float: left;
}

li a {
    display: block;
    color: rgba(0, 0, 0, 0.81);
    text-align: center;
    padding: 18px 50px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(227, 118, 118, 0.9);
}

.choose {
    background-color: rgba(255, 0, 0, 0.89);
}


